	body{
		font-size: 17px;
	}
	.dropdown-menu{
		font-size: 13px;
	}
	.navbar{
		background-color: #5E6B9E;
	}
	.btn-book:hover,
	.btn-book:active,
	.btn-book:visited,
	.btn-book:focus{
		
		color:white;
		background-color: #7B8ED1;
	}
	.btn-book{
		border: 5px;
		margin-bottom: 3px;
	}
	.welcome_first{
		background-color: olive;
		height: 400px;
	}
	h6{
		font-weight: bold;	
		margin-right: 20px;
	}	
	.col-new{
		margin-top: 50px;
		border-left: 10px;
		border-right: 10px;
	}
	.card-img-top{
		height: 290px;
		width: 194px;
		object-fit: cover;
		
		
	}	
	#best{
		width: 200px; 
		height: 300px;
		object-fit: cover;
	}